@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rosarivo:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rosarivo:ital@0;1&display=swap');

/*
    Font Info
    Nav-Text: Poppins (Regular)
    About Us: Poppints (Semi-bold italics)
    Paragraph: Nunito (Regular)
    Authors: Nunito (Light Italic)
    Card-Text: Nunito (ExtraLight)
*/

/*
    Color Info
    page-background: --black-bg
    nav bar text: --lilac
    About us: --white
    paragraph: --rose
    Authors: --white
    card-lower-background: --purple
    card-text: --black
    form-bg: --purple
    submit: --neutral
    Example:
        p {
            color: var(--rose)
        }
*/
:root {
    --lilac:#CEA2BF;
    --white: #FFFFFF;
    --rose: #F2CAE5;
    --purple: #AFADC5;
    --black-bg: #090909;
    --black: #000000;
    --neutral: #F1EAEE;
}
body {
    background-color: var(--black-bg) !important;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.nav {
    text-align: center;
    font-family: 'Poppins' !important;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--black-bg);
    position: fixed, sticky;
    left: 0;
    right: 0;
    top: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}
#nav{
    display: flex;
    justify-content:space-evenly;
    padding: 1%;
}

.home-nav, .explore-nav, .about-nav {
    color: var(--lilac) !important;
    text-decoration: none !important;
    padding: auto;
    font-size: medium;
}

.home-nav:visited,
.about-nav:visited,
.explore-nav:visited {
    text-decoration: none !important;
    color: var(--lilac) !important;
}

.about-us p {
    padding: 40px;
    color: var(--white);
    font-style: none !important;
    text-align: center;
    font-family: "Poppins" !important;
    font-size: 80px;
}

.about-desc p {
    padding: 30px;
    text-align: center;
    color: var(--lilac);
    font: "Poppins";
    font-size: 24px;
}

.authors p {
    color: var(--white);
    font-weight: lighter;
    padding: 32px;
    text-align: center;
    font: "Poppins";
    font-size: 55px;
}

.container p {
    font: "Poppins";
    font-weight: lighter;
    font-size: 22px;
    text-align: center;
    color: var(--black);
    background-color: var(--purple);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.about-form p {
    padding: 40px;
    margin-left: 345px;
    color: var(--white);
    font: "Poppins";
    font-size: 30px;
}

.abt-header {
    text-align: center;
    font: "Poppins";
    color: var(--white);
}

.abt-form-container {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

form {
    background-color: var(--darkPurple);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    width: 40rem;
    border-radius: 10px;
    padding: 2rem;
    font-family: "Poppins";
    font-weight: normal;
    color: var(--white);
}

#fname, #email {

}