@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rosarivo:ital@0;1&display=swap');

/*
    Font Info
    Nav-bar-text: Poppins (Regular)
    Text: Poppins (Regular)
*/
/*
    Color Info
    nav-bar: --lilac
    background: --black-bg
    text: --white
*/
:root {
    --lilac: #CEA2BF;
    --black-bg: #090909;
    --white: #FFFFFF;
}
body{
    background-color: var(--black-bg) !important;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.nav {
    text-align: center;
    font-family: 'Poppins' !important;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--black-bg);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}
#nav{
    display: flex;
    justify-content:space-evenly;
    padding: 1%;
}

.home-nav, .explore-nav, .about-nav {
    color: var(--lilac) !important;
    text-decoration: none !important;
    padding: auto;
    font-size: medium;
}

.home-nav:visited,
.about-nav:visited,
.explore-nav:visited {
    text-decoration: none !important;
    color: var(--lilac) !important;
}
.container {
    display: flex;
    flex-direction: column;
    color: var(--white);
    font-family: 'Poppins' !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 550px !important;
    margin-top: 5%;
    padding-bottom: 1rem;
}

.image-container {
    border: 2px solid var(--white);
}

img {
    width: 250px !important;
    object-fit: cover !important;
    align-self: center !important;
    margin-top: 10px;
    
}
.movie-header h3 {
    font-size: 24px;
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header {
    flex: 2;
}
.desc {
    flex: 4;
}

#streaming-details {
    font-style: italic;
}



